.menu-mobile{
  height: 70px;
  width: 100%;

  position: fixed;
  bottom: 0;

  border: 1px solid tomato;
  background-color: white;
  text-align: center;
  line-height: 70px;
  border-radius: 20px 20px 0 0;

  visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-mobile i{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 32px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.menu-mobile i.active{
  background-color: #777;
  color: white;
}