@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;900&display=swap');
.third-container{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 47%;
}
.poke-card{
    height: 90%;
    width: 60%;
    border-radius: 18px 18px 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-top{
    padding: 20px;
    display: flex;
    height: 55%;

    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgreen;
    background-image: url('../images/icons/Pokemon_Type_Icon_Grass.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 18px 18px 0 0;
}
.poke-card-name-id{
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.poke-card-name-id .poke-card-name{
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px rgba(51, 51, 51, 0.525);
}
.poke-card-name-id .poke-card-id{
    font-size: 22px;
    color: rgb(249, 226, 226);
    text-shadow: 1px 1px rgba(51, 51, 51, 0.565);
}
.card-top .poke-card-type{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.63);
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 0 3px;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.598);
}
.card-top .poke-img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-top .poke-img img{
    height: 50%;
}
.card-bottom{
    height: 45%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
}
.card-bottom .card-status{
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-self: center;
}
.card-bottom .card-status ul{
    display: flex;
    flex-direction: column;
}
.card-bottom .card-status ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 25px;
    font-weight: 300;
    padding: 5px 0;
    text-align: center;
}
.card-bottom .card-status ul h4{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.309);
    text-align: center;
    font-weight: 600;
}
@media (max-width: 1600px){
    .poke-card{
        width: 93%;
        
    }
    .card-top .poke-img img{
        height: 70%;
    }
}
@media (max-width: 1300px){

    .card-bottom .card-status ul li{
        font-size: 19px;
    }
}